<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/2001/REC-xhtml11-20010531/DTD/xhtml11-flat.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Language" content="en-gb" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" href="{relocatable: default.css}" type="text/css" media="screen" />
    <title>Utu: {title: }</title>
  </head>
  <body>

    <div id="content">
      <div id="search">
      </div>
      <div id="header">
        <h1>Utu</h1>
        <p>Saving The Internet With <font color="red">Hate.</font></p>
      </div>

      <div id="body">
        <div id="links">
          <p>
          <a href="{relocatable: /index.html}">here</a><br/>
          manifestos are for hippies
          <br/><br/>
          <a href="{relocatable: /why.html}">why</a><br/>
          the internet is dying
          <br/><br/>
          <a href="{relocatable: /theory.html}">theory</a><br/>
          what makes utu work
          <br/><br/>
          <a href="{relocatable: /design.html}">design</a><br/>
          all that's good for geeks
          <br/><br/>
          <a href="{relocatable: /download.html}">download</a><br/>
          if you're <a href="mailto:zedshaw-FU-SPAMMERS@zedshaw.com">invited</a>
          <br/><br/>
          <a href="{relocatable: /status.html}">status</a><br/>
          the state of the reset
          <br/><br/>
          <a href="{relocatable: /docs.html}">docs</a><br/>
          API and other info
          <br/><br/>
          <a href="{relocatable: /project.html}">project</a><br/>
          project page
          <br/><br/>
          <a href="{relocatable: /credit.html}">credit</a><br/>
          people who helped
          </p>
        </div>
        <div id="main">
          {block: }
        </div>
      </div>
      <div id="footer">
        Copyright © 2007 Zed A. Shaw. All Rights Reserved.<br/>
        Design by <a href="http://www.mdibb.net" title="Website of Matt Dibb">Matt Dibb</a> 2006.
        Hosting by <a href="http://www.railsmachine.com/">Rails Machine</a>.
      </div>
    </div>
  </body>
</html>
